<h1>Dodawanie nowego eventu</h1>
<form asp-controller="EventType" asp-action="Added" method="POST">
	<div class="form-group my-3">
		<label for="Name">Nazwa rodzaju eventu</label>
		<input class="form-control" type="text" id="Name" name="Name"/>
	</div>
</form>