<h1>Dodawanie nowego tagu:</h1>
<form asp-controller="Tag" asp-action="Added" method="POST">
	<div class="form-group">
		<label for="Name">Nazwa tagu:</label>
		<input class="form-control" type="input" id="Name" name="Name" />
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-success" />
	</div>
</form>