<h1>Dodawanie pozycji:</h1>
<form asp-controller="Position" asp-action="Added" method="POST">
	<div class="form-group">
		<label for="Name">Nazwa pozycji:</label>
		<input class="form-control" type="text" id="Name" name="Name" />
	</div>
	<div class="form-group">
		<input class="btn btn-success" type="submit" value="Dodaj pozycje" />
	</div>
</form>